.navBar {
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

.navBtn {
    color: white;
    background-color: black;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
    border: none;
    background-color: transparent;
}

.navBtn:hover {
    font-size: 22px;
    color: #E94560;
}