/* .resume-container {
    min-height: 80vh;
} */

/* .resume-container {

} */

.resumeimg {
    height: 70vh;
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.btn {
    border: solid white;
    color: white;
    background: black;
    position: relative;
    z-index: 1;
}

.btn:hover {
    outline: #E94560;
}

