.resume-container {
    min-height: 80vh;
}

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resumeimg {
    height: 70vh;
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.btn:hover {
    color: #E94560;
}

