.contactForm {
    position: relative;
    z-index: 1;
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
    background: transparent;
    }

.textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}

.input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background: transparent;
    color: white;
    border: solid;
    border-color: white;
}

.placeholder {
    color: white;
}

/*
white border around name email and message input
transparent background for input boxes
placeholder text for input boxes gray or white
text when person types in input boxes is white
sizing
submit button onhover change color to pink
border around submit button
background of submit button transparent
message above form
onSubmit message to let user know it was successful
border around form
center in page
margin between input boxes
*/

