.navBar {
    display: flex;
    justify-content: flex-end;
    align-items: space-between;
}

.navBtn {
    color: #F05454;
    background-color: #222831;
    font-size: 20px;
}

/*
increase space between buttons
change font? or maybe bold font/change font style?
increase text size or add shadow on hover
no outline on buttons
 */