.navBar {
    display: flex;
    justify-content: flex-end;
}

.navBtn {
    color: #F05454;
}

/*increase text size of buttons
increase space between buttons
change font? or maybe bold font/change font style?
change text color
increase text size or add shadow on hover
 */