.navBar {
    display: flex;
    justify-content: flex-end;
}

.navBtn {
    color: #F05454;
    background-color: black;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

/*
increase space between buttons
change font? or maybe bold font/change font style?
increase text size or add shadow on hover
no outline on buttons
 */