.row {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

.column {
    margin-left: 0;
    margin-right: 0;
}

.card {
    width: 21rem;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    z-index: 1;
    background: white;
}

.cardTitle {
    color: black;
}

.cardImg {
    margin-bottom: 10px;
}

.cardDescription {
    text-align: center;
    color: black;
    border: 2px solid black;
}

.linkBtn {
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    padding: 9px;
    text-decoration: none;
}

.linkBtn:hover {
    background: black;
    color: white;
}
