.projectCard {
    position: relative;
    z-index: 1;
    background: white;
    display: flex;
    justify-content: center;
}

.cardTitle {
    text-align: center;
    color: black;
}

.cardImg {
    margin-bottom: 10px;
}

.cardDescription {
    text-align: center;
    color: black;
    border: 2px solid black;
}

.linkBtn {
    background: white;
    color: black;
    border: 2px solid black;
    padding: 9px;
    text-decoration: none;
}

.linkBtn:hover {
    background: black;
    color: white;
}
