.projectCard {
    position: relative;
    z-index: 1;
    background: black;
    border: 3px solid white;
}

.cardTitle {
    text-align: center;
    color: white;
}

.cardDescription {
    text-align: center;
    color: white;
    border: 2px solid white;
}
