.title {
    color: #DDDDDD;
    text-align: center;
    font-size: 50px;
}

.bio {
    color: #DDDDDD;
    text-align: center;
    font-size: 20px;
}

/*increase text size of title
increase text size of bio
*/

