.title {
    text-align: center;
    font-size: 45px;
}

.bio {
    text-align: center;
    font-size: 23px;
    background: black;
    background-color: black;
    width: 135vh;
    display: flex;
    justify-content: center;
    margin-left: 120px;
    margin-right: 100px;
}

/*make background black
fix size of text box
center */

