.title {
    text-align: center;
    font-size: 45px;
}

.bio {
    text-align: center;
    font-size: 23px;
    background: black;
    background-color: black;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    position: relative;
    z-index: 1;
}

