.home {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* background: linear-gradient(-45deg, black, #212529, #343a40, #495057, #6c757d, #adb5bd, #ced4da); */
    background: linear-gradient(-45deg, #355070, #6d597a, #b56576, #e56b6f, #eaac8b);
    background-size: 400%, 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%
    }
}

.name {
    text-align: center;
    font-size: 55px;
    color: white;
    font-weight: bold;
}
/*typing animation?*/

.subtitle {
    text-align: center;
    font-size: 45px;
    color: white;
    font-weight: bold;
}
