.home {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .name {
    text-align: center;
    font-size: 55px;
    color: white;
    font-weight: 300;
}

.subtitle {
    text-align: center;
    font-size: 45px;
    color: white;
    font-weight: 300;
} */
